# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints

# Optional: se você NÃO quer commitar modelos grandes e csv:
 data/
 model/
